<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Capturing-expressions" data-toc-modified-id="Capturing-expressions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Capturing expressions</a></span></li><li><span><a href="#substitute" data-toc-modified-id="substitute-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>substitute</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#substitute()-works-because-function-arguments-are-represented-by-a-special-type-of-object-called-a-promise.-A" data-toc-modified-id="substitute()-works-because-function-arguments-are-represented-by-a-special-type-of-object-called-a-promise.-A-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>substitute() works because function arguments are represented by a special type of object called a promise. A</a></span></li><li><span><a href="#substituteの返り値は&quot;call&quot;" data-toc-modified-id="substituteの返り値は&quot;call&quot;-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>substituteの返り値は"call"</a></span></li><li><span><a href="#deparseはcallを食べてcharacter-vectorを返す" data-toc-modified-id="deparseはcallを食べてcharacter-vectorを返す-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>deparseはcallを食べてcharacter vectorを返す</a></span></li></ul></li></ul></li><li><span><a href="#NSE-in-subset" data-toc-modified-id="NSE-in-subset-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>NSE in subset</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#上記のようにaをグローバルなaとしてではなく、sample_dfのaとして捉えるためにevalが用いられる" data-toc-modified-id="上記のようにaをグローバルなaとしてではなく、sample_dfのaとして捉えるためにevalが用いられる-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>上記のようにaをグローバルなaとしてではなく、sample_dfのaとして捉えるためにevalが用いられる</a></span></li></ul></li><li><span><a href="#quote" data-toc-modified-id="quote-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>quote</a></span><ul class="toc-item"><li><span><a href="#quoteのinverseは「evalで第二引数以降を省略したもの」" data-toc-modified-id="quoteのinverseは「evalで第二引数以降を省略したもの」-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>quoteのinverseは「evalで第二引数以降を省略したもの」</a></span></li><li><span><a href="#定義されていないものもquoteできるがevalするとエラーに" data-toc-modified-id="定義されていないものもquoteできるがevalするとエラーに-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>定義されていないものもquoteできるがevalするとエラーに</a></span></li><li><span><a href="#quoteしていないものをevalしようとするとエラーに" data-toc-modified-id="quoteしていないものをevalしようとするとエラーに-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>quoteしていないものをevalしようとするとエラーに</a></span></li><li><span><a href="#evalの第二引数は環境だがlistでも可" data-toc-modified-id="evalの第二引数は環境だがlistでも可-3.1.4"><span class="toc-item-num">3.1.4&nbsp;&nbsp;</span>evalの第二引数は環境だがlistでも可</a></span></li><li><span><a href="#その特性はsubset()の実装に使える" data-toc-modified-id="その特性はsubset()の実装に使える-3.1.5"><span class="toc-item-num">3.1.5&nbsp;&nbsp;</span>その特性はsubset()の実装に使える</a></span></li></ul></li><li><span><a href="#subset2" data-toc-modified-id="subset2-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>subset2</a></span></li><li><span><a href="#exercise" data-toc-modified-id="exercise-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>exercise</a></span></li></ul></li><li><span><a href="#Scoping-issues" data-toc-modified-id="Scoping-issues-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Scoping issues</a></span></li></ul></div>

# Capturing expressions

## substitute

In [1]:
f <- function(x) {
  substitute(x)
}
f(1:10)

1:10

### substitute() works because function arguments are represented by a special type of object called a promise. A

### substituteの返り値は"call"

In [2]:
f2 <- function(x) {
  class(substitute(x))
}
f2(1:10)

[1] "call"

### deparseはcallを食べてcharacter vectorを返す

In [8]:
f3 <- function(x) {
  deparse(substitute(x))
}

f3(1:10)

[1] "1:10"

In [9]:
g <- function(x) deparse(substitute(x))

In [10]:
g(a + b + c + d + e + f + g + h + i + j + k + l + m +
  n + o + p + q + r + s + t + u + v + w + x + y + z)

[1] "a + b + c + d + e + f + g + h + i + j + k + l + m + n + o + p + "
[2] "    q + r + s + t + u + v + w + x + y + z"

In [11]:
?deparse

In [12]:
 as.Date.default

function (x, ...)
{
    if (inherits(x, "Date"))
        return(x)
    if (is.logical(x) && all(is.na(x)))
        return(structure(as.numeric(x), class = "Date"))
    stop(gettextf("do not know how to convert '%s' to class %s",
        deparse(substitute(x)), dQuote("Date")), domain = NA)
}
<bytecode: 0x000000001903b6a0>
<environment: namespace:base>

In [22]:
as.Date.default(20001111,"%y%m%d")

ERROR: Error in as.Date.default(20001111, "%y%m%d"): do not know how to convert '20001111' to class "Date"

In [16]:
?as.Date.default

In [23]:
?pairwise.t.test

In [24]:
attach(airquality)
Month <- factor(Month, labels = month.abb[5:9])
pairwise.t.test(Ozone, Month)

	Pairwise comparisons using t tests with pooled SD

data:  Ozone and Month

    May     Jun     Jul     Aug
Jun 1.00000 -       -       -
Jul 0.00026 0.05113 -       -
Aug 0.00019 0.04987 1.00000 -
Sep 1.00000 1.00000 0.00488 0.00388

P value adjustment method: holm

In [25]:
Month

  [1] May May May May May May May May May May May May May May May May May May
 [19] May May May May May May May May May May May May May Jun Jun Jun Jun Jun
 [37] Jun Jun Jun Jun Jun Jun Jun Jun Jun Jun Jun Jun Jun Jun Jun Jun Jun Jun
 [55] Jun Jun Jun Jun Jun Jun Jun Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul
 [73] Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul Jul
 [91] Jul Jul Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug
[109] Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Aug Sep Sep Sep
[127] Sep Sep Sep Sep Sep Sep Sep Sep Sep Sep Sep Sep Sep Sep Sep Sep Sep Sep
[145] Sep Sep Sep Sep Sep Sep Sep Sep Sep
Levels: May Jun Jul Aug Sep

In [26]:

pairwise.t.test

function (x, g, p.adjust.method = p.adjust.methods, pool.sd = !paired,
    paired = FALSE, alternative = c("two.sided", "less", "greater"),
    ...)
{
    if (paired & pool.sd)
        stop("pooling of SD is incompatible with paired tests")
    DNAME <- paste(deparse(substitute(x)), "and", deparse(substitute(g)))
    g <- factor(g)
    p.adjust.method <- match.arg(p.adjust.method)
    alternative <- match.arg(alternative)
    if (pool.sd) {
        METHOD <- "t tests with pooled SD"
        xbar <- tapply(x, g, mean, na.rm = TRUE)
        s <- tapply(x, g, sd, na.rm = TRUE)
        n <- tapply(!is.na(x), g, sum)
        degf <- n - 1
        total.degf <- sum(degf)
        pooled.sd <- sqrt(sum(s^2 * degf)/total.degf)
        compare.levels <- function(i, j) {
            dif <- xbar[i] - xbar[j]
            se.dif <- pooled.sd * sqrt(1/n[i] + 1/n[j])
            t.val <- dif/se.dif
            if (alternative == "two.sided")
                2 * pt(-abs(t.val), total.degf)
            else pt(t.val, total.degf, lower.tail = (alternative ==
                "less"))
        }
    }
    else {
        METHOD <- if (paired)
            "paired t tests"
        else "t tests with non-pooled SD"
        compare.levels <- function(i, j) {
            xi <- x[as.integer(g) == i]
            xj <- x[as.integer(g) == j]
            t.test(xi, xj, paired = paired, alternative = alternative,
                ...)$p.value
        }
    }
    PVAL <- pairwise.table(compare.levels, levels(g), p.adjust.method)
    ans <- list(method = METHOD, data.name = DNAME, p.value = PVAL,
        p.adjust.method = p.adjust.method)
    class(ans) <- "pairwise.htest"
    ans
}
<bytecode: 0x000000000aea6268>
<environment: namespace:stats>

In [27]:
f <- function(x) substitute(x)
g <- function(x) deparse(f(x))
g(1:10)
g(x)
g(x + y ^ 2 / z + exp(a * sin(b)))

[1] "x"

[1] "x"

[1] "x"

# NSE in subset

In [28]:
sample_df <- data.frame(a = 1:5, b = 5:1, c = c(5, 3, 1, 4, 1))

subset(sample_df, a >= 4)

  a b c
4 4 2 4
5 5 1 1

### 上記のようにaをグローバルなaとしてではなく、sample_dfのaとして捉えるためにevalが用いられる

## quote

### quoteのinverseは「evalで第二引数以降を省略したもの」

In [29]:
?eval

### 定義されていないものもquoteできるがevalするとエラーに

In [35]:
quote(a)

a

In [34]:
class(quote(a))

[1] "name"

In [32]:
quote(1+1)

1 + 1

In [33]:
eval(quote(1+1))

[1] 2

### quoteしていないものをevalしようとするとエラーに

In [38]:
eval(x , list(x=2))

ERROR: Error in eval(x, list(x = 2)):  オブジェクト 'x' がありません

### evalの第二引数は環境だがlistでも可

In [37]:
eval(quote(x) , list(x=2))

[1] 2

### その特性はsubset()の実装に使える

In [39]:
eval(quote(a >= 4), sample_df)

[1] FALSE FALSE FALSE  TRUE  TRUE

## subset2

In [40]:
subset2 <- function(x, condition) {
  condition_call <- substitute(condition)
  r <- eval(condition_call, x)
  x[r, ]
}
subset2(sample_df, a >= 4)

  a b c
4 4 2 4
5 5 1 1

## exercise

In [41]:
eval(quote(eval(quote(eval(quote(2 + 2))))))

[1] 4

In [42]:

eval(eval(quote(eval(quote(eval(quote(2 + 2)))))))

[1] 4

In [43]:
quote(eval(quote(eval(quote(eval(quote(2 + 2)))))))

eval(quote(eval(quote(eval(quote(2 + 2))))))

In [45]:
sample_df2 <- data.frame(x = c(1:10 , NA))
subset2(sample_df2, x > 8)

[1]  9 10 NA

In [58]:
my_subset2 <- function(x, condition) {
  condition_call <- substitute(condition)
  r <- eval(condition_call, x)
  x[r & is.finite(r) ,  , drop = F]
}

In [59]:
my_subset2(sample_df2 , x > 8)

   x
9   9
10 10

上記my_subset2はうまく動いているようだ！

# Scoping issues